@charset "UTF-8";
* {
  font-family: "微软雅黑"; }

header {
  background-color: #363D4C; }

.hknav {
  background-color: #363D4C; }

.icon-bar {
  background-color: #F0F2F7; }

.banner {
  padding-top: 3.5em;
  padding-bottom: 3.5em; }
  .banner .slider-item {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    height: 300px; }
    .banner .slider-item img {
      width: 500px;
      height: auto; }
    .banner .slider-item .flex-caption {
      width: 400px;
      padding: 0px 0px 0px 40px; }
      .banner .slider-item .flex-caption h2 {
        margin-top: 0px;
        margin-bottom: 10px;
        padding: 10px 0 10px 0;
        font-size: 1.5em;
        overflow: hidden;
        text-overflow: ellipsis; }
        .banner .slider-item .flex-caption h2 a {
          color: #3D4B66;
          text-decoration: none; }
      .banner .slider-item .flex-caption .slides_entry {
        display: block !important;
        color: #626773;
        font-size: 14px;
        line-height: 1.9em;
        letter-spacing: 0.1em;
        text-align: justify;
        height: 130px;
        text-overflow: ellipsis;
        overflow: hidden; }
  .banner li {
    list-style: none; }

.btns {
  display: block !important;
  margin-top: 20px;
  width: 125px;
  background-color: #46B855;
  float: right;
  text-align: center;
  padding: 10px 30px 10px 30px;
  border-radius: 3px; }
  .btns a {
    color: #FFFFFF;
    text-decoration: none; }

.wrapper {
  background-color: #F0F2F7; }

.main {
  display: flex;
  display: webkit-flex;
  flex-flow: row wrap;
  justify-content: space-between; }
  .main .main-list {
    width: 70%; }
    .main .main-list .list-item {
      margin-top: 2em;
      margin-bottom: 1em;
      padding: 2em;
      background: #FFFFFF;
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between; }
      .main .main-list .list-item a {
        width: 35%; }
        .main .main-list .list-item a img {
          width: 250px;
          height: 180px; }
      .main .main-list .list-item .item-right {
        width: 57%; }
        .main .main-list .list-item .item-right h2 {
          font-size: 1.3em;
          margin-top: 0;
          margin-bottom: 13px; }
          .main .main-list .list-item .item-right h2 a {
            color: #3D4B66; }
        .main .main-list .list-item .item-right p {
          color: #626773;
          font-size: 1em;
          line-height: 1.8em;
          height: 100px;
          overflow: hidden;
          letter-spacing: 0.1em; }
        .main .main-list .list-item .item-right img {
          width: 30px;
          height: 30px;
          border-radius: 50%; }
        .main .main-list .list-item .item-right .item-info {
          float: right; }
    .main .main-list .list-item:hover {
      box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5); }
  .main .main-right {
    width: 27%; }

.card-right {
  width: 100%;
  margin-top: 2em;
  margin-bottom: 1em;
  padding: 2em;
  background-color: #FFFFFF;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  text-align: center; }
  .card-right h2 {
    font-size: 1.3em;
    color: #3D4B66;
    text-align: left;
    margin: 0 0 1em 0; }

.follow {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; }
  .follow img {
    margin: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%; }
  .follow p {
    font-size: 1em;
    color: #626773; }

/* 切换卡 */
.rank-list {
  list-style: none;
  text-align: left; }
  .rank-list li {
    padding-top: 0.5em;
    border-bottom: 1px solid #F0F2F7; }
    .rank-list li a {
      color: #626773;
      font-size: 1em;
      line-height: 3em; }

/*标签云*/
.label-cloud {
  width: 100%;
  display: flex;
  flex-flow: row wrap; }
  .label-cloud .label-item {
    border: 1px solid #46B855;
    padding: 0.5em 0.5em;
    margin: 1em 0.2em;
    font-size: 1em; }

/*文章归档*/
.tutime-list {
  list-style: none;
  text-align: left;
  padding: 0px; }

.tutime {
  background: url(../img/datepng.png) no-repeat left center;
  padding-left: 20px; }

/*友情链接*/
.friend-link {
  display: flex;
  flex-flow: row wrap; }

.link-item {
  font-size: 1em;
  color: #737f99;
  padding: 0.1em;
  margin: 0.3em 0.3em; }

/* 响应式 */
@media (min-width: 300px) {
  .main .main-list {
    width: 100%; }

  .main .main-right {
    width: 100%; } }
@media (min-width: 1000px) {
  .main .main-list {
    width: 70%; }

  .main .main-right {
    width: 27%; } }
/*   文章详情 */
.article-detail article h2 {
  color: #3D4B66; }
.article-detail article .post-title {
  color: #737f99; }

.post-content {
  padding: 0;
  color: #626773; }
  .post-content p {
    font-size: 1.1em;
    line-height: 1.7em;
    text-align: justify; }
  .post-content img {
    margin: 2em auto; }

.article-footer {
  width: 100%;
  margin: 3em 0;
  font-size: 1.2em;
  color: #666; }
  .article-footer .like {
    text-align: center;
    padding: 1.2em 1.2em;
    margin: 1.2em 0;
    color: #626773; }

.other-article {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  font-size: 1.1em;
  color: #46B855; }

.comment {
  width: 100%; }
  .comment p {
    font-size: 1em;
    color: #737f99; }

.comment-list img {
  width: 40px;
  height: 40px;
  float: left;
  margin: 0 1em 0 0; }
.comment-list .author {
  color: #626773;
  font-size: 1em; }
.comment-list .floor {
  color: #737f99;
  font-size: 1em; }
.comment-list p {
  font-size: 1em;
  color: #3D4B66;
  margin: 1em 0; }
.comment-list .child-comment-list {
  border-left: 10px solid #F0F2F7;
  padding: 0 8px; }
  .comment-list .child-comment-list .child-comment-item {
    font-size: 10px; }
    .comment-list .child-comment-list .child-comment-item .child-comment-footer {
      color: #737f99; }
.comment-list .comment-footer {
  text-align: right; }

.new_comment {
  width: 100%;
  margin: 1em 0 0 0; }

.comment-text .comment-content {
  width: 100%;
  min-height: 7em;
  margin: 1.2em 0 1em 0; }
.comment-text input {
  float: left;
  margin: 0 1em 0em 0; }

footer {
  background-color: #363D4C;
  color: #FFFFFF;
  min-height: 200px;
  text-align: center; }

ul.share-group {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 40px; }

.share-group li {
  display: inline-block;
  padding: 10px; }

/*# sourceMappingURL=app.css.map */
