// color
$bgBlack: #363D4C;
$bgGreen: #46B855;
$bgGrey: #F0F2F7;
$bgWhite: #FFFFFF;
$fontColor1: #3D4B66;
$fontColor2: #626773;
$fontColor3: #737f99;

* {
  font-family: "微软雅黑";
}

header {
  background-color: $bgBlack;
}

//导航
.hknav {
  background-color: $bgBlack;
}

.icon-bar {
  background-color: $bgGrey;
}

//轮播
.banner {
  padding-top: 3.5em;
  padding-bottom: 3.5em;

  .slider-item {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    height: 300px;
    img {
      width: 500px;
      height: auto;
    }

    .flex-caption {
      width: 400px;
      padding: 0px 0px 0px 40px;
      h2 {
        margin-top: 0px;
        margin-bottom: 10px;
        padding: 10px 0 10px 0;
        font-size: 1.5em;
        overflow: hidden;
        text-overflow: ellipsis;
        a {
          color: $fontColor1;
          text-decoration: none;
        }
      }
      .slides_entry {
        display: block !important;
        color: $fontColor2;
        font-size: 14px;
        line-height: 1.9em;
        letter-spacing: 0.1em;
        text-align: justify;
        height: 130px;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
  li {
    list-style: none;
  }
}

.btns {
  display: block !important;
  margin-top: 20px;
  width: 125px;
  background-color: $bgGreen;
  float: right;
  text-align: center;
  padding: 10px 30px 10px 30px;
  border-radius: 3px;
  a {
    color: $bgWhite;
    text-decoration: none;
  }
}

.wrapper {
  background-color: $bgGrey;
}

.main {
  display: flex;
  display: webkit-flex;
  flex-flow: row wrap;
  justify-content: space-between;
  .main-list {
    width: 70%;
    .list-item {
      margin-top: 2em;
      margin-bottom: 1em;
      padding: 2em;
      background: $bgWhite;
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      a {
        width: 35%;
        img {
          width: 250px;
          height: 180px;
        }
      }
      .item-right {
        width: 57%;
        h2 {
          font-size: 1.3em;
          margin-top: 0;
          margin-bottom: 13px;
          a {
            color: $fontColor1;
          }
        }
        p {
          color: $fontColor2;
          font-size: 1em;
          line-height: 1.8em;
          height: 100px;
          overflow: hidden;
          letter-spacing: 0.1em;
        }

        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
        }

        .item-info {
          float: right;
        }
      }
    }
    .list-item:hover {
      box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    }
  }
  .main-right {
    width: 27%;
  }
}

.card-right {
  width: 100%;
  margin-top: 2em;
  margin-bottom: 1em;
  padding: 2em;
  background-color: $bgWhite;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  text-align: center;
  h2 {
    font-size: 1.3em;
    color: $fontColor1;
    text-align: left;
    margin: 0 0 1em 0;
  }
}

.follow {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  img {
    margin: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  p {
    font-size: 1em;
    color: $fontColor2;
  }
}

/* 切换卡 */
.rank-list {
  list-style: none;
  text-align: left;
  li {
    padding-top: 0.5em;
    border-bottom: 1px solid $bgGrey;
    a {
      color: $fontColor2;
      font-size: 1em;
      line-height: 3em;
    }
  }
}

/*标签云*/
.label-cloud {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  .label-item {
    border: 1px solid $bgGreen;
    padding: 0.5em 0.5em;
    margin: 1em 0.2em;
    font-size: 1em;
  }
}

/*文章归档*/
.tutime-list {
  list-style: none;
  text-align: left;
  padding: 0px;
}

.tutime {
  background: url(../img/datepng.png) no-repeat left center;
  padding-left: 20px
}

/*友情链接*/
.friend-link {
  display: flex;
  flex-flow: row wrap;
}

.link-item {
  font-size: 1em;
  color: $fontColor3;
  padding: 0.1em;
  margin: 0.3em 0.3em;
}

/* 响应式 */

@media (min-width: 300px) {
  .main .main-list {
    width: 100%;
  }
  .main .main-right {
    width: 100%;
  }
}

@media (min-width: 1000px) {
  .main .main-list {
    width: 70%;
  }
  .main .main-right {
    width: 27%;
  }
}

/*   文章详情 */

.article-detail {
  article {

    h2 {
      color: $fontColor1;
    }
    .post-title {
      color: $fontColor3;
    }
  }
}

.post-content {
  padding: 0;
  color: $fontColor2;

  p {
    font-size: 1.1em;
    line-height: 1.7em;
    text-align: justify;
  }

  img {
    margin: 2em auto;
  }
}

.article-footer {
  width: 100%;
  margin: 3em 0;
  font-size: 1.2em;
  color: #666;

  .like {
    text-align: center;
    padding: 1.2em 1.2em;
    margin: 1.2em 0;
    color: $fontColor2;
  }
}

.other-article {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  font-size: 1.1em;
  color: $bgGreen;
}

//文章评论
.comment {
  width: 100%;
  p {
    font-size: 1em;
    color: $fontColor3;
  }

}

.comment-list {
  img {
    width: 40px;
    height: 40px;
    float: left;
    margin: 0 1em 0 0;
  }
  .author {
    color: $fontColor2;
    font-size: 1em;
  }
  .floor {
    color: $fontColor3;
    font-size: 1em;
  }
  p {
    font-size: 1em;
    color: $fontColor1;
    margin: 1em 0;
  }

  //子评论
  .child-comment-list {
    border-left: 10px solid $bgGrey;
    padding: 0 8px;
    .child-comment-item {
      font-size: 10px;
      p {
      }
      .child-comment-footer {
        color: $fontColor3;
      }
    }
  }
  .comment-footer {
    text-align: right;
  }
}

.new_comment {
  width: 100%;
  margin: 1em 0 0 0;

}

.comment-text {

  .comment-content {
    width: 100%;
    min-height: 7em;
    margin: 1.2em 0 1em 0;
  }
  input {
    float: left;
    margin: 0 1em 0em 0;
  }
}

footer {
  background-color: $bgBlack;
  color: $bgWhite;
  min-height: 200px;
  text-align: center;
}

ul.share-group {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 40px;
}

.share-group li {
  display: inline-block;
  padding: 10px;
}

